{{#is_heading}}{{{text}}}{{/is_heading}}{{^is_heading}}{{#markdown_text}}{{{markdown_text}}}{{/markdown_text}}{{#graphics}}<p><img src="{{name}}"/></p>{{/graphics}}{{#equations}}<p>{{{mml}}}</p>{{/equations}}{{/is_heading}}