{{section_level}} {{heading}}

{{#paragraphs}}
{{> MDParagraph}}
{{/paragraphs}}

{{#tables}}
<table>
{{#rows}}
<tr>
{{#cells}}
{{#is_heading}}<th colspan={{colspan}}>{{/is_heading}}{{^is_heading}}<td colspan={{colspan}}>{{/is_heading}}
{{#paragraphs}}
{{> MDParagraph}}
{{/paragraphs}}
{{#is_heading}}</th>{{/is_heading}}{{^is_heading}}</td>{{/is_heading}}
{{/cells}}
</tr>
{{/rows}}
</table>
{{/tables}}

{{#sub_sections}}
{{> MDSection}}
{{/sub_sections}}