name: Trigger excel2md

on:
  workflow_dispatch:
  repository_dispatch:
    events:
      [ release_event ]

jobs:
  package:
    runs-on: ubuntu-latest
    name: Create artifacts
    steps:
      # - name: Test
      #   run: pwd
      - name: Checkout
        uses: actions/checkout@v2
      # - name: Copy
      #   run: cp -r ./examples/* ./word-input/
      # - name: Get Excel-input
      #   run: |
      #       ./get_latest.sh ${{ github.repository_owner }} test-case-repository-word-input test-cases.zip word-input ${{ github.event.client_payload.tag }}
      - name: Get latest word-input
        run: |
            ./get_latest.sh ${{ github.repository_owner }} test-case-repository-word-input test-cases.zip word-input ${{ github.event.client_payload.tag }}

      - name: Create MD
        id:   build-it-now
        uses: ./

      # - name: Convert EMF to PNG
      #   uses: ./emf2png/

      # - name: Create Archive
      #   id: create-archive
      #   run: zip -r "${{ github.workspace }}/test-cases" test-cases

      - name: Create Artifact
        id: create-artifact
        uses: actions/upload-artifact@v4
        with:
          name: test-cases-markdown
          path: ./test-cases/

      # - name: Create Release
      #   id: create-release
      #   uses: actions/create-release@v1
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   with:
      #     tag_name: ${{ github.event.client_payload.tag }}
      #     release_name: Release ${{ github.event.client_payload.tag }}
      #     draft: false
      #     prerelease: false
      # - name: Upload Release Asset
      #   id: upload-release-asset
      #   uses: actions/upload-release-asset@v1
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #   with:
      #     upload_url: ${{ steps.create-release.outputs.upload_url }}
      #     asset_path: ./erigrid2-test-cases.zip
      #     asset_name: erigrid2-test-cases.zip
      #     asset_content_type: application/zip

      - uses: juztcode/repo-ditpatch-action@v1
        with:
          event-type: release_event
          token: ${{ secrets.REPO_TRIGGER_KEY }}
          repository: "${{ github.repository_owner }}/test-case-repository"
          client-payload: '{"tag": "${{ github.event.client_payload.tag }}", "artifact_download_url": "${{ steps.create-artifact.outputs.artifact-url }}" }'
